{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="d-flex container my-5">
  <div class="col-3">
    <table class="table me-5">
      <tbody>
        <tr>
          <th><a href="{% url 'mailing:create' %}">메일 쓰기</a></th>
        </tr>
        <tr>
          <th><a href="{% url 'mailing:index' %}">받은 메일함</a></th>
        </tr>
        <tr>
          <th><a href="{% url 'mailing:sent' %}">보낸 메일함</a></th>
        </tr>
        <tr>
          <th><a href="{% url 'mailing:important' %}">보관함</a></th>
        </tr> 
        <tr>
          <th><a href="{% url 'mailing:bin' %}">휴지통</a></th>
        </tr>   
      </tbody>
    </table>
  </div>
  <div class="col-9">
    <h5 class="mb-3">보낸 사람 : {{ mail.from_name }}</h5>
    <h5 class="mb-3">받은 시간 : {{ mail.created_at|date:'y년 m월 d일 H시 m분' }}</h5>
    <h5 class="mb-3">제목 : {{ mail.title }}</h5>
    <h5 class="mb-3">내용 : {{ mail.content }}</h5>
  </div>
  </div>
</div>
{% endblock content %}