{% extends 'base.html' %}
{% load django_bootstrap5 %}
  
{% block content %}
<div class="d-flex container my-5">
  <div class="col-3">
    <table class="table me-5">
      <tbody>
        <tr>
          <th><a href="{% url 'mailing:create' %}">메일 쓰기</a></th>
        </tr>
        <tr>
          <th><a href="{% url 'mailing:index' %}">받은 메일함</a></th>
        </tr>
        <tr>
          <th><a href="{% url 'mailing:sent' %}">보낸 메일함</a></th>
        </tr>
        <tr>
          <th><a href="{% url 'mailing:important' %}">보관함</a></th>
        </tr> 
        <tr>
          <th><a href="{% url 'mailing:bin' %}">휴지통</a></th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-9">
    <table class="table ms-5">
      <thead>
        <tr>
          <th scope="col">받는 사람</th>
          <th scope="col">제목</th>
          <th scope="col">보낸 시간</th>
        </tr>
      </thead>
      <tbody>
        {% for mail in mail %}
        <tr>
          <th>{{ mail.from_name }}</th>
          <td>{{ mail.title }}</td>
          <td>{{ mail.created_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}